/* website.css */

/* Reset and general styles */
body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #1c1c1c; /* Dark background */
    color: #ffffff; /* Light text */
}

header {
    background-color: #333333; /* Dark header */
    color: #ffffff;
    padding: 10px 0;
    text-align: center;
}

header h1 {
    margin: 0;
    font-size: 2.5em;
    letter-spacing: 2px;
}

main {
    padding: 20px;
}

h2 {
    color: #ffffff;
    font-size: 1.5em;
    margin-bottom: 10px;
}

/* Search and filter section */
#search {
    margin-bottom: 20px;
}

#searchInput {
    width: 100%;
    padding: 12px;
    margin-bottom: 10px;
    border: 2px solid #555555;
    border-radius: 5px;
    background-color: #333333;
    color: #ffffff;
}

#genreSelect {
    width: 100%;
    padding: 12px;
    border: 2px solid #555555;
    border-radius: 5px;
    background-color: #333333;
    color: #ffffff;
}

/* Game list and items */
#game-list {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
}

.game-item {
    position: relative;
    width: 200px;
    height: 300px;
    border: 1px solid #555555;
    border-radius: 10px;
    overflow: hidden;
    background-color: #333333;
    cursor: pointer;
    transition: transform 0.3s, border-color 0.3s;
}

.game-item img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
    transition: transform 0.3s;
}

.game-item:hover {
    transform: scale(1.05);
    border-color: #ffffff; /* White border on hover */
}

.game-details {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.8);
    color: #ffffff;
    padding: 10px;
    text-align: center;
    opacity: 0;
    transition: opacity 0.3s;
}

.game-item:hover .game-details {
    opacity: 1;
}
